.login-form {
    justify-content: center;
    /* padding-left: 40px; */
    background-color: rgb(194, 230, 244);
    width:  38em;
    height: 35em;
    margin-left: 28em;
    margin-top: 5%;
    border-radius: 15px;
    opacity: 80%;
}

.first-p-tag {
    color: rgb(12, 236, 57);
    text-align: center;
    font-size: 60px;
    font-weight: 800;
}
.otp-button {
    border: none;
    width: 25%;
    margin-top: 59px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 40em;
    transition: transform .1s ease-in-out;
    
    
}
#user {
    background-color: rgb(255, 255, 255);
    margin-left: 12px;
    font-size: 20px;
    height: 30px;
    color: black;
    border-radius: 8px;
}
#password {
    background-color: rgb(255, 255, 255);
    margin-left: 18px;
    font-size: 20px;
    height: 30px;
    color: black;
    border-radius: 8px;
}

.login-form >label {
    color: blue;
    margin-left: 2.5em;
    font-size: 30px;
    font-weight: 800;

}

.email-label {
    color: blue;
    margin-left: 1.5em;
    font-size: 30px;
    font-weight: 800;
    margin-right: 7px;
}

.otp-button {
    border: none;
    width: 30%;
    margin-top: 59px;
    border-radius: 5px;
    background-color: orange;
    cursor: pointer;
    margin-left: 15em;
    padding: 15px 15px;
    transition: transform .1s ease-in-out;
    
    
}

.otp-button:hover {
    transform: translate(1px, 1px);
}