header {  
  color: rgb(245, 56, 14);
  height: 10px;
  display: flex; 
  align-items: center;
  /* padding-block: 30px; */
  padding-top: 10px;
  /* padding-bottom: 13px; */
  /* box-shadow: 0px 5.98256px 7.4564px rgba(224, 224, 225, 0.1); */
  /* background-color: aqua; */
  /* margin-bottom: 0px; */
}

.home-link,.about-link,.contact-link {
  color: rgb(120, 10, 246);
  text-decoration: none;
  /* width: 750px; */
  font-size: 25px;
  margin-bottom: 0px;

}
.home-link {
  /* padding-left: 50em; */
  margin-left: 32em;
  margin-bottom: 0px;

}
.about-link {
  margin-left: 5em;
  margin-bottom: 0px;
}
.contact-link {
  margin-left: 5em;
  margin-bottom: 0px;
}
.home-lin {
  color: rgb(245, 56, 14);
  text-decoration: none;
  padding-top:8px;
  /* width: 750px; */
  font-size: 20px;
  font-family:fantasy;
  font-weight: 700; 
  /* margin-bottom: 0px; */

}
