:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(92, 92, 97);
  /* color-scheme: light dark; */
  /* background-image: url('./assets/bg_pic.png'); */

}
